.result {
	width: 375px;
	height: 356px;
	background: linear-gradient(180deg, #7755ff 20%, #6943ff 50%, #2f2ce9 100%);
	color: rgba(255, 255, 255, 0.702);
	border-radius: 0 0 48px 48px;
}
.title {
	font-size: 18px;
}
.noteIcon {
	margin: auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: linear-gradient(180deg, #2f2ce9 20%, #6943ff 100%);
}
.noteTitle {
	height: 9px;
	padding: 25px;
	font-size: 56px;
	color: white;
}
.subnote {
	color: rgba(255, 255, 255, 0.774);
	font-size: 16px;
}
.subtitleBig {
	color: white;
}
.subtitleSmall {
	margin: auto;
	width: 260px;
}
